@charset "UTF-8";

/* Settings all media*/
/* Typical Device Breakpoints
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 3px solid black ;
    }
    main h1{
        color: black;
        text-shadow: none;
    }
    main::after{
        content: 'Essa impressão foi feita por mim';
        text-decoration: overline;
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
    background-image: url(../imagens/back-tablet.jpg);

}
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
        
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}